import './{{ pascal.componentName }}.scoped.css';

interface {{ pascal.componentName }}Props {
  /* The props of the component */
  requiredProp: string;
  optionalProp?: string;
}

function {{ pascal.componentName }}({
  requiredProp,
  optionalProp = 'Default Value',
}: {{ pascal.componentName }}Props): JSX.Element {
  return (
    <div className="{{ kebab.componentName }}">
      Your html here: {requiredProp}, {optionalProp}
    </div>
  );
}

export default {{ pascal.componentName }};
